body{
    font-family: 'Nunito', sans-serif;
    background-color: black;
}

#acerca_de {
    background: url(../img/fond12.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center, center center;
    border-radius: 20px;
    margin-right: 10px;
}

/* .section {
    background: url(../img/backbody.jpg);
    background-repeat: repeat-y;
    background-size:auto;
    background-position: center;
   
} */

#text_card {

    margin:auto;
    font-size: 200%;
}

#designer {
    color: brown;
    font-size: 100%;
}

/* #skills {
    background-color: rgb(157, 80, 80);
} */

